body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
.bg-dark {
  height: 30px;
  background-color: black!important;
}
.colorWhite{
  color:white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bgColor {
  background: #1c1a1a!important;
  padding: 10px 65px;
}
.eventName{
  color: white;
  padding-top: 10px;

}
.bottomMargin{
  margin-bottom: 80px;
}
.navBarPadding{
  padding-left: 31px;
}
.selectDropdown{
   background: transparent;
    color: #529352;
    border: 1px solid #529352;
    padding: 1px 5px 4.7px 0px;
    margin-right: 15px;
    border-radius: 3px;
}
.marginRight{
  margin-right: 20px;
}